@using Microsoft.AspNetCore.Identity
@model WebHard.ViewModels.ChangeRoleViewModel

@{
    Layout = "_LayoutCooperative";
}

<div class="mother-grid" style="padding-bottom: 1000px">
    <div class="container">
        <div class="temp-padd" style="padding-bottom: 100px">
            <div class="top-strip">
                <div class="address">
                    <ul>
                        <li><a href="#"><span class="link"> </span>www.sitename.com</a></li>
                        <li><a href="mailto:example@email.com"><span class="mes"> </span>info@sitename.com</a></li>
                        <li><span class="ph"> </span>8888 8888</li>
                    </ul>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a href="#"> <span class="w-f"> </span></a></li>
                        <li><a href="#"> <span class="w-tw"> </span></a></li>
                        <li><a href="#"> <span class="w-in"> </span></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>


            <h2 style="padding:50px 0 0 20px">Изменение ролей для пользователя @Model.UserEmail</h2>

            <form style="padding-left:20px" asp-action="Edit" method="post">
                <input type="hidden" name="userId" value="@Model.UserId" />
                <div class="form-group">
                    @foreach (IdentityRole role in Model.AllRoles)
                    {
                        <input type="checkbox" name="roles" value="@role.Name"
                               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                        }
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>


            <a asp-action="Create">Добавить роль</a>
            <a asp-action="UserList">Список пользователей</a>
        </div>
    </div>
</div>